body {
    background-color: rgb(197, 255, 197);
}

.flashes h4 {
    line-height: 2;
}

.no-margin {
    margin: 0 0;
}

.no-margin a {
    margin: 0 0;
}

.logo-img {
    max-width: 225px;
}

.home-img {
    max-width: 30%;
    height: auto;
    margin: 0 auto;
}

.developer-img {
    max-width: 50%;
    margin: 0 auto;
    overflow: hidden;
}

.social-media li {
    display: inline;
    padding: 5px;
    margin: 5px;
}

.card {
    background-color:rgb(13, 61, 13)
}

.chip {
    background-color:rgb(255, 255, 255)
}

html i {
    font-size: 3vh;
}
