body {
    background-color: white;
}

.flashes h4 {
    line-height: 2;
}

.no-margin {
    margin: 0 0;
}

.no-margin a {
    margin: 0 0;
}

.card {
    background-color:rgb(13, 61, 13)
}

.chip {
    background-color:rgb(144, 201, 144)
}

html i {
    font-size: 3vh;
}
