{% extends "base.html" %}
{% block content %}

<h2>Administration Window</h2>

<h3>User Panel</h3>

<ul class="collapsible">
    {% for user in users %}
    <li>
        <div class="collapsible-header"><i class="fas fa-caret-down"></i>
            Username: {{ user.username }}
            <br>
            Email: {{ user.email }}
            <br>
            {% if user.is_admin == True %}
            <i class="fas fa-users-cog"></i><strong>Admin account</strong>
            {% endif %}
        </div>
        <div class="collapsible-body">
            <div class="col s3">
                {% if user.is_admin == True %}
                <a href="" class="btn-small disabled align-right">Delete</a>
                {% else %}
                <a href="{{ url_for('delete_user', user_id=user._id)}}" class="btn-small red align-right">Delete</a>
                {% endif %}
                <a href="{{ url_for('edit_user', user_id=user._id)}}" class="btn-small align-right">Edit</a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

<h3>Developer Panel</h3>

{% if developers|length > 0 %}

<ul class="collapsible">
    {% for developer in developers %}
    <li>
        <div class="collapsible-header"><i class="fas fa-caret-down"></i>
            <strong>{{ developer.first_name }} {{ developer.last_name }}</strong>
        </div>
        <div class="collapsible-body">
            {% if developer.dev_image %}
            <img class="developer-img" src="{{url_for('img_uploads', filename=developer['dev_image'])}}"
                alt="developer image" />
            {% else %}
            <strong class="red-text text-darken-2 text-shadow">No image found!</strong>
            {% endif %}
            <br>
            {{ developer.description }}
            <br>
            <br>
            This developer's skills are as follows: {% for skill in developer.skills %}
            <div class="chip">{{ skill }}</div>
            {% endfor %}
            <br>
            {{ developer.contact_email }}
            <br>
            {{ developer.contact_portfolio }}
            <br>
            {% if developer.looking_for_work|lower == "on" %}
            <br>
            <p class="green-text text-darken-4">This person is currently looking for work!</strong>
                {% else %}
                <br>
                <p class="red-text text-darken-4">This person is not looking for work.</strong>
                    {% endif %}
                    <br>
                    <p><strong>Added by {{ developer.created_by }}</strong></p>
                    <div class="col s3">
                        <a href="{{ url_for('delete_dev', dev_id=developer._id)}}"
                            class="btn-small red align-right">Delete</a>
                        <a href="{{ url_for('edit_dev', dev_id=developer._id)}}" class="btn-small align-right">Edit</a>
                    </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<h3>No developers found!</h3>
{% endif %}

{% endblock %}