<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>BASE DOCUMENT</title>
</head>

<body>

    <header>
        <nav class="nav-extended green darken-4">
            <div class="nav-wrapper">
                <a href="{{ url_for('get_devs') }}" class="brand-logo">Dev Select</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('get_devs') }}">Home</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Add A Dev</a></li>
                    <li><a href="#">Edit Entry</a></li>
                    <li><a href="#">Log Out</a></li>
                    <li><a href="#">Log In</a></li>
                    <li><a href="#">Register</a></li>
                </ul>
            </div>
            <div class="nav-content">
                <ul class="tabs tabs-transparent">
                    <li class="tab"><a href="#test1">Test 1</a></li>
                    <li class="tab"><a class="active" href="#test2">Test 2</a></li>
                    <li class="tab disabled"><a href="#test3">Disabled Tab</a></li>
                    <li class="tab"><a href="#test4">Test 4</a></li>
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li><h4 class="center-align text-darken-4">Dev Select</h4></li>
            <li><a href="{{ url_for('get_devs') }}">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Add A Dev</a></li>
            <li><a href="#">Edit Entry</a></li>
            <li><a href="#">Log Out</a></li>
            <li><a href="#">Log In</a></li>
            <li><a href="#">Register</a></li>
        </ul>

        <div id="test1" class="col s12">Test 1</div>
        <div id="test2" class="col s12">Test 2</div>
        <div id="test3" class="col s12">Test 3</div>
        <div id="test4" class="col s12">Test 4</div>

    </header>
    <h1>BASE TEMPLATE TITLE</h1>
    {% block content %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>