{% extends "base.html" %}   
{% block content %} 

    <h2>DEVELOPER TITLE</h2>
    
    {% for developer in developers %}
        {{ developer.first_name }}<br>
        {{ developer.last_name }}<br>
        {{ developer.looking_for_work }}<br>
        {{ developer.contact_email }}<br>
        {{ developer.contact_portfolio }}<br>
    {% endfor %}
    
    <ul class="collapsible">
        <li>
            <div class="collapsible-header"><i class="fas fa-caret-down">filter_drama</i>First</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="fas fa-caret-down">place</i>Second</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="fas fa-caret-down">whatshot</i>Third</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>

{% endblock %}