{% extends "base.html" %}   
{% block content %} 

    <h2>DEVELOPER TITLE</h2>
    
    <ul class="collapsible">
        {% for developer in developers %}
        <li>
            <div class="collapsible-header"><i class="fas fa-caret-down"></i>
                {{ developer.first_name }} {{ developer.last_name }} 
            </div>
            <div class="collapsible-body">
                {{ developer.looking_for_work }}
                {{ developer.contact_portfolio }}
                {{ developer.contact_email }}
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}