{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s8 offset-s2">
        <div class="row">
            <h3>
                {{ username }}'s Developer Entries
            </h3>
        </div>
    </div>
</div>

<ul class="collapsible">
    {% for userdev in userdevs %}
    <li>
        <div class="collapsible-header"><i class="fas fa-caret-down"></i>
            {{ userdev.first_name }} {{ userdev.last_name }}
        </div>
        <div class="collapsible-body">
            {{ userdev.contact_portfolio }}
            <br>
            {{ developer.description }}
            <br>
            This developer's skills are as follows: {% for skill in userdev.skills %}
            <div class="chip">{{ skill }}</div>
            {% endfor %}
            <br>
            {{ userdev.contact_email }}
            {% if userdev.looking_for_work|lower == "on" %}
            <br>
            <p class="green-text text-darken-4">This person is currently looking for work!</strong>
            {% else %}
            <br>
            <p class="red-text text-darken-4">This person is not looking for work.</strong>
            {% endif %}
            <br>
            <p><strong>Added by {{ userdev.created_by }}</strong></p>
            <br>
            <div class="col s3">
                <a href="{{ url_for('delete_dev', dev_id=userdev._id)}}" class="btn-small red align-right">Delete</a>
                <a href="{{ url_for('edit_dev', dev_id=userdev._id)}}" class="btn-small align-right">Edit</a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

<div class="row">
    <div class="col s12">
        <p class="center-align">
            Not registered yet?
            <a href="{{ url_for('register') }}" class="light-blue-text text-darken-4">Register Account</a>
        </p>
    </div>
</div>

{% endblock %}