{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s8 offset-s2">
        <div class="row">
            <h3>
                {{ username }}'s Developer Entries
            </h3>
        </div>
    </div>
</div>

<ul class="collapsible">
    {% for userdev in userdevs %}
    <li>
        <div class="collapsible-header">
            <div class="col s3">
                <i class="fas fa-caret-down"></i>
                <a href="" class="btn-small align-right">Done</a>
                <a href="{{ url_for('edit_dev', dev_id=userdev._id)}}" class="btn-small align-right">Edit</a>
            </div>
            {{ userdev.first_name }} {{ userdev.last_name }}
        </div>
        <div class="collapsible-body">
            {{ userdev.looking_for_work }}
            {{ userdev.contact_portfolio }}
            {% for skill in userdev.skills %}
            {{ skill }}
            {% endfor %}
            {{ userdev.contact_email }}
        </div>
    </li>
    {% endfor %}
</ul>

<div class="row">
    <div class="col s12">
        <p class="center-align">
            Not registered yet?
            <a href="{{ url_for('register') }}" class="light-blue-text text-darken-4">Register Account</a>
        </p>
    </div>
</div>

{% endblock %}